.error {
    color: red;
}

.field-set-legend {
    width: auto;
    padding: 0 .5em 0;
    font-size: 16px;
    font-weight: 600;
}

.field-set {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
    width: 100%;
}

.f-field {
    display: flex;
}

#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 10000;
    background: #191f26 url(../img/loading.gif) no-repeat center center;
    /* background: rgba(0,0,0,0.75) url(../img/loading.gif) no-repeat center center; */
  }